# DS-SF-34 | 02 | The `pandas` Library | Assignment | Starter Code

## The Bistro Meets `pandas`

You've just told one of your friend that you are taking a Data Science class.  (Yeah!)  Your friend is running a bistro, a small restaurant, serving moderately priced simple meals in a modest setting ([Wikipedia](https://en.wikipedia.org/wiki/Bistro)).  She collected over some period of time the following information of her patrons' visits.

| Variable's name | Its meaning |
|:---:|:---|
| `name` | Patron's first name |
| `gender` | Patron's gender |
| `is_smoker` | Whether the patron is smoking or not |
| `party` | Party's size |
| `check` | Check amount (\$) (after taxes but before tips) |
| `tip` | Tip (\$) that the patron added to the check |
| `day` | Week day of the visit |
| `time` | Rough time estimate of the visit |

In this assignment, we will be exploring this dataset using `pandas`.<sup>(*)</sup>

<sup>(*)</sup> this dataset was adapted from the `tips` dataset of the `seaborn` package (https://github.com/mwaskom/seaborn-data)

> ### Question 1.  Import `numpy` (as `np`) and `pandas` (as `pd`).

In [48]:
import os
import numpy as np
import pandas as pd
# TODO

pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

> ### Question 2.  Read the `dataset-02-tips.csv` dataset.

Question - how do I do the '../' file name start rather than copying full address?

In [49]:
# TODO
df = pd.read_csv('/Users/edwardhuang/Desktop/DS-SF-42/classes/02/datasets/dataset-02-bistro.csv')

> ### Question 3.  What is the class of the `pandas` object storing the dataset?

In [50]:
# TODO
type(df)

pandas.core.frame.DataFrame

Answer: TODO

> ### Question 4.  How many samples (i.e., rows) are in this dataset?

In [51]:
# TODO
df.shape[0]

244

Answer: TODO

Question - any cases where .info() to get column and row counts would not be as useful as what we learned here?

> ### Question 5.  How many variables (i.e., columns) are in this dataset?

In [52]:
# TODO
df.shape[1]

8

Answer: TODO

> ### Question 6.  Print the name of each column in the dataset, one name per line.

In [53]:
# TODO
df.dtypes

day           object
time          object
name          object
gender        object
is_smoker       bool
party          int64
check        float64
tip          float64
dtype: object

> ### Question 7.  Print the first two rows of the dataset to the console.  What does the output look like?

In [54]:
# TODO
df.head(2)

      day    time      name  gender  is_smoker  party  check   tip
0  Sunday  Dinner  Kimberly  Female      False      2  16.99  1.01
1  Sunday  Dinner  Nicholas    Male      False      3  10.34  1.66

Answer: TODO

> ### Question 8.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [55]:
# TODO
df.tail(2)

          day    time    name  gender  is_smoker  party  check   tip
242  Saturday  Dinner     Jon    Male      False      2  17.82  1.75
243  Thursday  Dinner  Brandi  Female      False      2  18.78  3.00

Answer: TODO

> ### Question 9.  Does the dataset contain any missing values?

In [56]:
# TODO
df.isnull().sum().sum()

0

Answer: TODO

> ### Question 10.  What can you say about the `is_smoker` variable?  I.e., will it bring any insights when analyzing the dataset?  What do you want to do with it?  (and do it...)

In [57]:
# TODO
df['is_smoker'].unique()

array([False])

In [58]:
df.drop('is_smoker', axis = 1, inplace = True)

Answer: They are all False. There will not be any insights when analyzing using this field, so I am going to remove it.

> ### Question 11.  For which week days does the dataset has data for?

In [59]:
# TODO
df['day'].unique()

array(['Sunday', 'Saturday', 'Thursday', 'Friday'], dtype=object)

Answer: Thursday, Friday, Saturday, Sunday

> ### Question 12.  How often was the bistro patronized for each week day?

(check `.value_counts()`; it could come in handy)

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html)

In [60]:
# TODO
#count the parties, group by day
parties = df[['day','name']].groupby('day').count()
parties

          name
day
Friday      19
Saturday    87
Sunday      76
Thursday    62

Answer: TODO

> ### Question 13.  How much tip did waiters collect for each week day?

In [61]:
# TODO
tips = df[['day','tip']].groupby('day').sum()
tips

             tip
day
Friday     51.96
Saturday  260.40
Sunday    247.39
Thursday  171.83

Answer: TODO

> ### Question 14.  What is the average tip per check (in absolute \$) for each week day?

In [62]:
# TODO
df[['day','tip']].groupby('day').mean()

               tip
day
Friday    2.734737
Saturday  2.993103
Sunday    3.255132
Thursday  2.771452

Answer: TODO

> ### Question 15.  What is the average tip per check (as a percentage of the check) for each week day?

In [63]:
# TODO
df['tip%'] = df['tip']/df['check'] *100
df[['day','tip%']].groupby('day').mean()

               tip%
day
Friday    16.991303
Saturday  15.315172
Sunday    16.689729
Thursday  16.127563

Answer: TODO

> ### Question 16.  Are there any name in common between male and female patrons?  (E.g., `Chris` can refer to either a man or a woman)

(check `numpy.intersect1d()`; it could come in handy)

(https://docs.scipy.org/doc/numpy/reference/generated/numpy.intersect1d.html)

In [75]:
# TODO
female = df[df['gender'] == 'Female']
male = df[df['gender'] == 'Male']

np.intersect1d(female['name'],male['name'])

array(['Casey'], dtype=object)

Answer: Casey

> ### Question 17.  If no patrons share the same name, how many unique patrons are in the dataset?

In [87]:
# TODO
df[df['name'] != 'Casey']['name'].count()

236

Answer: TODO

> ### Question 18.  How many times did `Kevin` patronized the bistro?  How about `Alice`?

In [90]:
# TODO
df[df['name'] == 'Kevin']['name'].count()

4

In [91]:
df[df['name'] == 'Alice']['name'].count()

2

Answer: TODO

> ### Question 19.  Who are the top 3 female and male patrons?

In [123]:
# TODO
group = df.groupby(['gender','name']).count()

Answer: TODO

> ### Question 20.  Who's the best tipper (as a fraction of all tips over all check totals)?  Who's the worst?  How many times did they patronize the bistro?

(check `numpy.intersect1d()`; it could come in handy)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.sort_values.html)

In [ ]:
# TODO

Answer: TODO